:root {
  --primary-color: #323232;     
  --secondary-color: #a97a57;   
  --accentColour: #caa08a;      
  --black: #2B2B2B;
  --lightBg: #e2d9d4; 
  --textGrey:#8B8E92;
  --lightGrey:#cacaca;        
}

@media (max-width: 1399.98px) {
  
}
@media (max-width: 1199.98px) {


}

@media (max-width: 1024.98px) {
  /* #ca1.owl-carousel .item1 {
  background: linear-gradient(#0000008c, #0000008c) 0 0 / cover,
    url("../image/BannerMOB1.webp") center/cover no-repeat;
}
#ca1.owl-carousel .item2 {
  background: linear-gradient(#0000008c, #0000008c) 0 0 / cover,
    url("../image/BannerMOB2.webp") center/cover no-repeat;
}
#ca1.owl-carousel .item3 {
  background: linear-gradient(#0000008c, #0000008c) 0 0 / cover,
    url("../image/BannerMOB3.webp") center/cover no-repeat;
} */

}

@media screen and (device-width: 1024px) and (device-height: 600px) and (orientation: landscape) {
  /* Styles for Google Nest Hub in landscape */
 #ca1.owl-carousel .item1 {
  background: linear-gradient(#0000008c, #0000008c) 0 0 / cover,
    url("../image/Banner1.webp") center/cover no-repeat;
}
#ca1.owl-carousel .item2 {
  background: linear-gradient(#0000008c, #0000008c) 0 0 / cover,
    url("../image/Banner2.webp") center/cover no-repeat;
}
#ca1.owl-carousel .item3 {
  background: linear-gradient(#0000008c, #0000008c) 0 0 / cover,
    url("../image/Banner3.webp") center/cover no-repeat;
}

}



@media (max-width: 991.98px) {

  .footer .container > .row {
    row-gap: 30px;
  }

  .navLink {
    color: var(--primary-color);
    padding: 12px 8px;
}
.navLink.active {
  color: var(--black);
}
.navMenu {
  gap: 4px;
}
.mynavbar {
    padding: 9.4px 0;
}
.sticky-header .navLink:hover {
    color: var(--black);
}

.nav-pills{
  justify-content: center;
  position: static;
  top: unset;
}

.MainRowNavPills{
  flex-direction: column;
  row-gap: 30px;
}
.nav-pills{
  flex-direction: row !important;
  gap: 4px 4px;
}

}
@media (max-width: 767.98px) {
  .footer,
  .footer .secH{
    text-align: center;
  }

  .defaultPadding {
    padding: 50px 0;
  }
  .footer.defaultPadding {
    padding: 34px 0;
  }
  .footer .secH {
    margin-bottom: 24px;
  }
  .footWrap > .row {
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    flex-direction: column;
  }
   .footer .social-icons {
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }

  .footer .exploreLinks ul li,
  .footer .exploreLinks1 ul li {
    text-align: left;
  }
  .footer-brand {
    display: table !important;
    margin: auto;
  }
  .footer .locationLink {
    max-width: 304px;
  }
 
  .footer .exploreLinks1 ul {
    max-width: 352px;
    margin: auto;
  }
  .footer .exploreLinks ul {
    width: 203px;
    max-width: 203px !important;
    margin: auto;
  }
  .footer ul.contact-info{
    width: 318.5px;
    max-width: 318.5px;
  }

  .footer.homePage0{
    padding-top: 123px;
  }

}

@media (max-width: 575.98px) {
 

  .footer .fourthH {
    margin-bottom: 20px;
  }

  .wrapheder {
    background-color: var(--lightBg);
    min-height: 95px;
}

.UL_Style li {
  width: 100%;
}

.filter-btn {
    padding: 8px 12px;
    flex: 0 0 0%;
}

.ourWork .justify-content-center{
  justify-content: start !important;
}

 .review-card {
   padding: 16px;
  }
  .review-card .align-items-start{
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    text-align: center;
  }

    .ourRecentWork  .cardWrap{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .ourRecentWork  .cardWrap .fifthH{
    text-align: center;
  }
  .ourRecentWork  .cardWrap  .textPart2{
    margin-top: 24px;
    padding: 0 12px;
  }

    .nav-pills .nav-link {
      width: 100%;
      text-align: center;
   max-width: 100%;
}
#ca1 > div.owl-nav{
  display: none;
}
}

@media only screen and (max-height: 539.98px) {
  #ca1.owl-carousel .item {
    padding: 80px 12px;
    height: unset;
  }
  #ca1.owl-carousel .item > .container {
    position: relative;
    left: unset;
    top: unset;
    right: unset;
    transform: unset;
    width: auto;
  }
}

@media only screen and (max-height: 539.98px) and (max-width: 1024px) {
  #ca1.owl-carousel .item {
    padding: 80px 12px;
    height: unset;
  }
  #ca1.owl-carousel .item > .container {
   position: relative;
    left: unset;
    top: unset;
    right: unset;
    transform: unset;
    width: auto;
  }
/* 
#ca1.owl-carousel .item1 {
  background: linear-gradient(#0000008c, #0000008c) 0 0 / cover,
    url("../image/Banner1.webp") center/cover no-repeat;
}
#ca1.owl-carousel .item2 {
  background: linear-gradient(#0000008c, #0000008c) 0 0 / cover,
    url("../image/Banner2.webp") center/cover no-repeat;
}
#ca1.owl-carousel .item3 {
  background: linear-gradient(#0000008c, #0000008c) 0 0 / cover,
    url("../image/Banner3.webp") center/cover no-repeat;
} */

}

